.footer {
	font-family: 'Lora', serif;
	position: relative;
	bottom: 0;
	width: 100%;
	min-height:12rem;
	background: #361500;
	display: block;
	padding-top: 1.6rem;
	padding-bottom: 1.2rem;
 }
 .inner-footer {
	 width: 80%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	min-width: 20%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #F7CA44;
	font-size: 1.2rem;
	
}

.footer-items h1 {
	color: #F7CA44;
}
.border1 {
	height: 3px;
	width: 40px;
	background-color: #F7CA44;
	border: 0px;
    margin: 5px;
}
.footer-items a{
  text-decoration:none;
  color:#F7CA44;
}
.footer-bottom {
	display: flex;
	width: 100%;
	flex-direction: row;
	background: #361500;;
	color: #F7CA44;
	justify-content: space-between;
}
.footer-title{
	color:#F7CA44;
	padding-left: 5%;
	font-size: 3vh;
	justify-self: flex-start;
	padding-bottom: 2%;
}
.footer-title img{
	width:2.5rem;
	padding-right: 10px;
}
.social-media {
	justify-self: flex-end;
	color: #F7CA44;
	font-size: 3.5vh;
  	padding-right: 4%;
	font-weight: 500;
}

.social-media a {
	text-decoration: none;
}

.social-media img {
	height: 40px;
	width: 40px;
	margin: -13px 10px;
	color: #fff;
	transition: 0.5s;
}

.social-media img:hover {
	transform: scale(1.5);
}
.footer-copyright{
	align-self: flex-end;
	text-align: center;
	color:#F7CA44;
	font-size: small;
	
}
@media screen and (max-width: 800px) {
	.footer-items {
		width: 100%;
    display: flex;
    flex-direction:column;
    align-items:center;
	}
	.social-media{
		display: flex;
		justify-content: center;
	}
	.footer-bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: #361500;
		color: #F7CA44;
	}
}
