.conts{
    padding-top: 5rem;
    margin: auto;
    width: 50vw;
}

@media only screen and (max-width: 500px) {
    .conts{
        width: 50vh;
    }
  }

  .form-label{
      font-size: 2.5vh;
      margin: 2vh;
  }


.heading{
    text-align: center;
    font-size: 6vh;
    font-family: 'Lora', serif;
    margin-top: 10vh;
    margin-bottom: 10vh;
    color: rgb(1, 184, 1);
}

#verify{
    margin-top: 5vh;
}