*{
    font-family: 'Lora', serif;
}

.cont{
   padding-top: 4rem;
}

.first{
    margin-top: 7vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('/resources/NMD.jpg');
}

.imgmaind{
    width: 60vw;
    height: 50vh;
}

#imgmain{
    width: 60vw;
}



.herocont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    border-radius: 2vw;
    color: black;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: 100vh;
}

.heading{
    font-size: 8vh;
    font-style: italic;
    font-weight: 700;
}

.address{
    color: green;
    margin-top: 5vh;
    font-size: 5vh;
}

.timings, .fee-indian, .fee-foreign, .twelfth{
    margin-top: 5vh;
    font-size: 4vh;
}

.timings{
    color: #005cd4;
}

.desc{
    color: grey;
    margin-top: 5vh;
    font-size: 3.5vh;
}

.fee-indian, .fee-foreign{
    color: red;
}

.twelfth{
    color: rgb(35, 209, 0);
}

@media only screen and (max-width: 850px) {
    .heading{
        font-size: 5vh;
        font-style: italic;
    }
    .address{
        margin-top: 3vh;
        font-size: 3vh;
    }
    .timings, .fee-indian, .fee-foreign, .twelfth{
        margin-top: 3vh;
        font-size: 3vh;
    }
  }


/*************************************************************
  HEADER
**************************************************************/
header {
    position: relative;
    min-height: 100vh;
    width: 100%;
    transform-style: inherit;
    z-index: -1;
  }
  
  header::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: block;
    background: url('/resources/NMD.jpg') top center;
    background-size: cover;
    transform: translateZ(-1px) scale(2.1);
    min-height: 100%;
    z-index: -2;
  }
  
  
  /*************************************************************
    SECTIONS
  **************************************************************/
  section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    position: relative;
    transform-style: inherit;
  }
  
  .section1 {
    background: #fafafa;
    box-shadow: 0 0 20px #333;
    z-index: 1;
  }
  
  .section2::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: block;
    background: url('/resources/NMD2.jpg') top center;
    background-size: cover;
    transform: translateZ(-.5px) scale(1.6);
    z-index: -1;
  }

  .section3::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: block;
    background: url('/resources/NMD.jpg') top center;
    background-size: cover;
    transform: translateZ(-.5px) scale(1.6);
    z-index: -1;
  }

  .section4::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: block;
    background: url('/resources/NMD.jpg') top center;
    background-size: cover;
    transform: translateZ(-.5px) scale(1.6);
    z-index: -1;
  }
  
  /*************************************************************
    HEADINGS
  **************************************************************/
  h1 {
    font-size: 4rem;
    text-align: center;
    position: absolute;
    padding: 1rem;
    background: #fafafa75;
    box-shadow: 0 0 20px #333;
    top: 50%;
    left: 50%;
    transform: translateZ(-1px) scale(2) translate(-25%, -25%);
  }

  #header {
    font-size: 8vh;
    width: 80vw;
    text-align: center;
    position: absolute;
    padding: 1rem;
    background-image: linear-gradient(to right, rgba(0, 255, 255, 0.5), rgba(128, 0, 128, 0.5));
    box-shadow: 0 0 20px #333;
    top: 100%;
    left: 50%;
    transform: translateZ(-1px) scale(2) translate(-25%, -25%);
  }
  
  .section1 h1 {
    z-index: 3;
    transform: translate(-50%, -50%);
    box-shadow: none;
  }
  
  .section2 h1 {
    transform: translateZ(-.3px) scale(1.3) translate(-39%, -39%);
    z-index: 3;
  }

  .section3 h1 {
    transform: translateZ(-.3px) scale(1.3) translate(-39%, -39%);
    z-index: 3;
  }

  .section4 h1 {
    transform: translateZ(-.3px) scale(1.3) translate(-39%, -39%);
    z-index: 3;
  }

#booknow{
    margin-top: 7vh;
}
  
  /*************************************************************
    BASIC STYLES
  **************************************************************/
  *,
  *::before,
  *::after,
  :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @import 'https://fonts.googleapis.com/css?family=Overlock:400,400i,700|Oleo+Script';
  
  html {
    overflow: hidden;
    height: 100%;
  }
  
  body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    perspective: 1px;
    transform-style: preserve-3d;
    font-size: 62.5%;
    font-family: 'Overlock', Arial, Helvetica, sans-serif;
  }
  

/* here */


button {
	font-family: Helvetica, sans-serif;
	font-weight: 100;
	color: #fff;
}

.container {
	text-align: center;
	position: relative;
	width: 300px;
	margin: 0 auto;
	cursor: pointer;
}

button {
	position: relative;
	height: 50px;
	width: 280px;
	border: 0;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 0.2em;
	overflow: hidden;
	box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
	z-index: -2;
}


.fill-one {
	position: absolute;
	background-image: linear-gradient(to right, #E040FB, #00BCD4);
	height: 70px;
	width: 420px;
	border-radius: 5px;
	margin: -40px 0 0 -140px;
	z-index: -1;
	transition: all 0.4s ease;
}

.container-one:hover .fill-one {
	-webkit-transform: translateX(100px);
	-moz-transform: translateX(100px);
	transform: translateX(100px);
}

.fill-two {
	position: absolute;
	background-image: linear-gradient(to right, #E040FB, #00BCD4);
	background-size: 150% 150%;
	height: 70px;
	width: 420px;
	border-radius: 5px;
	margin: -40px 0 0 -140px;
	z-index: -1;
	transition: all 0.4s ease;
}

.container-two:hover .fill-two {
	-webkit-animation: gradient 3s ease infinite;
	-moz-animation: gradient 3s ease infinite;
	animation: gradient 3s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}